/* Classe da página principal */

/* Define a cor de fundo do id */
#page-landing {
    background: var(--color-primary);
}

/* define a cor do texto do id */
#page-landing #container {
    color: var(--color-text-in-primary);
}

/* define o tamanho relativo da imagem */
.logo-container img {
    height: 10rem;
}

/* alinha o texto e define a margem inferior */
.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

/* define a estrutura da fonte */
.logo-container h2 {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

/* define a largura da classe em relação ao container */
.hero-image {
    width: 100%;
}

/* alinha os botões de input ao centro e cria um espaço na parte superior e inferior */
.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem; /* largura dos botões */
    height: 10.4rem; /* altura dos botões */
    border-radius: 0.8rem; /* arredondamento dos cantos */
    margin-right: 1.6rem; /* espaçamento entre os botões */
    font: 700 2.4rem Archivo; /* definição da fonte */
    display: flex; /* deixa os botões lado a lado */
    align-items: center; /* alinha os botões ao centro do elemento verticalmente */
    justify-content: center; /* alinha os elementos ao centro horizontalmente */
    text-decoration: none; /* elimina a linha azul sublinhada do hiperlynk */
    color: var(--color-button-text); /* define a cor do texto do botão */
    transition: background 0.2s;
}

.buttons-container a img {
    width: 4rem;
    margin-right: 2.4rem;
}

.buttons-container a.study {
    background: var(--color-primary-lighter); /* define a cor do botão estudar */

}

.buttons-container a.study:hover {
    background: var(--color-primary-light);
}

.buttons-container a.give-classes {
    background: var(--color-secondary); /* define a cor do botão dar aulas */
    margin-right: 0; /* espaçamento do botão dar aulas */

}

.buttons-container a.give-classes:hover {
    background: var(--color-secondary-dark);
}

.total-connections {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img {
    margin-left: 0.8rem;
}

/* modifica o tamanho das fontes em telas menores do que 700px */
@media (max-width: 699px) {
    :root {
        font-size: 40%;  
    }
}

/* altera o layout das telas maiores que 1100px  */
@media (min-width: 1100px) {
    #page-landing #container {
        max-width: 1100px;
        display: grid; /* altera o display para grid */
        grid-template-columns: 2fr 1fr 2fr; /* insere três colunas com larguras diferentes */
        grid-template-rows: 350px 1fr; /* insere duas linhas com alturas diferentes */
        grid-template-areas: 
        "proffy image image"
        "button button texting"; /* define uma string para cada coluna do grid */
        column-gap: 87px; /* cria um espaço entre as colunas do grid */
        row-gap: 86px; /* cria um espaço entre as linhas dos grids */
    }
    /* ocupa o grid do canto superior direito da tela */
    .logo-container {
        grid-area: proffy;
        text-align: initial; /* alinha os elementos à esquerda do grid */
        align-self: center; /* alinha a logo no centro do grid, forçando a imagem à largura máxima do mesmo */
        margin: 0;
    }

    .logo-container img {
        height: 127px /* aumenta a altura da imagem ao máximo permitido dentro do grid */
    }

    .hero-image {
        grid-area: image; /* coloca a imagem principal no grid central no topo da página */
        height: 350px;
    }

    .buttons-container {
        grid-area: button; /* coloca os botões no canto inferior esquerdo */
        justify-content: flex-start; /* alinha os botões à esquerda do flex */
        margin: 0;
    }
    
    .total-connections {
        grid-area: texting; /* coloca o texto no canto inferior direito */
        justify-self: end; /* alinha o texto à direita do grid */
        font-size: 1.2rem; /* ajusta a fonte para não quebrar em duas linhas */
    }
}